{% extends 'layout.html.twig' %}
{% block title %}AG || Redefinir Password{% endblock %}

{% block content %}
    <header class="container">
        <h2>Redefinir Password</h2>
    </header>

    <section class="container">
        {% if warning != null %}
            <div class="form-group">
                <div class="col-sm-4 alert-success">

                    <p>{{ warning }}</p>
                    <a href="{{ path('login') }}">
                        <span>Faça seu login agora.</span>
                    </a>

                </div>
            </div>
        {% else %}
            <form class="form-horizontal" method="post" action="{{ path('reset_password', {salt : salt}) }}">
                {% if error != null %}
                    <div class="form-group">
                        <div class="col-sm-4 alert-danger">
                            <span>{{ error }}</span>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Digite seu novo password" required autofocus="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" id="_method" name="_method" value="PUT" />
                    <input type="hidden" id="salt" name="salt" value="{{ salt }}">
                    <button type="submit" class="btn btn-success col-sm-4">Redefinir Password</button>
                </div>
            </form>
        {% endif %}
    </section>
{% endblock %}

{% block form %}{% endblock %}

{% block classhome %}{% endblock %}
{% block classprodutos %}{% endblock %}
{% block classcategorias %}{% endblock %}
{% block classtags %}{% endblock %}