{% extends 'layout.html.twig' %}

{% block title %}AG Produtos || Listagem de Categorias{% endblock %}

{% block content %}
    <header class="container">
        <h1>Listagem de Categorias</h1>
    </header>
    <section class="container">
        <section class="row">
            <div class="col-md-6">
                <a href="{{ path('categoria-novo') }}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Categorias</a>
            </div>
            <section class="col-md-6">
                <form class="navbar-form navbar-left" role="search" method="post" action="{{ path('categorias-find') }}">
                    <div class="form-group">
                        <input type="text" name="nome" id="nome" class="form-control" placeholder="Buscar por nome">
                    </div>
                    <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                </form>
            </section>
        </section>
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>ID</td>
                <td>NOME</td>
                <td>AÇÕES</td>
            </tr>
            </tbody>
            <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.id }}</td>
                    <td>{{ categoria.nome }}</td>
                    <td>
                        <a class="btn btn-primary" href="{{ path('categoria-editar', {id: categoria.id}) }}">Editar</a>
                        <a class="btn btn-danger" href="{{ path('categoria-deletar', {id: categoria.id}) }}">Remover</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Monta a páginação dos resultados -->
    <section class="container">
        {% if paginas > 0 %}
            <ul class="pagination">
                {% for pagina in 1..paginas %}
                    <li class="{% if activepage == pagina %}active{% endif %}">
                        <a href="{{ path('categorias-pagination', {id : pagina}) }}"> {{ pagina }} </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
{% endblock %}

{% block classhome %}{% endblock %}
{% block classprodutos %}{% endblock %}
{% block classcategorias %}active{% endblock %}
{% block classtags %}{% endblock %}